<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="wrapper">
    <!--Header-->
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">Movie</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Popular</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Detail area-->

    <div class="movie-detail-area">
        <div class="movie-cover" style="background-image: url('https://haintheme.com/demo/html/bustter/images/uploads/hero-bg.jpg')"></div>

        <div class="movie-detail">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="movie-detail__img">
                            <img src="https://haintheme.com/demo/html/bustter/images/uploads/mv1.jpg" alt="movie title" class="img-fluid">
                            <div class="movie-detail__btn">
                                <a href="#" class="btn btn-block"><i class="fas fa-play"></i> Watch Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="movie-detail__content">
                            <div class="movie-detail__title">
                                <h1>OBLIVION</h1>
                                <div class="movie-detail__rate">
                                    <i class="fas fa-star"></i>
                                    <span>8.1/<small>10</small></span>
                                </div>
                            </div>
                            <div class="movie-detail__desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at autem commodi distinctio, eaque est explicabo ipsa, iste laborum maiores nemo optio provident, qui repudiandae tenetur vel vero voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aspernatur dolorum error et expedita impedit itaque molestiae nihil placeat porro quia quisquam quod, repellat repudiandae sequi similique tempora voluptate.</p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="movie-detail__left">
                                        <div class="movie-detail__cast">
                                            <div class="movie-detail__block-title">
                                                <h3>Cast</h3>
                                            </div>
                                            <div class="media">
                                                <img src="https://haintheme.com/demo/html/bustter/images/uploads/cast1.jpg
" class="mr-3" alt="...">
                                                <div class="media-body">
                                                    <h5 class="mt-0">Robert Downey Jr.</h5>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <img src="https://haintheme.com/demo/html/bustter/images/uploads/cast1.jpg
" class="mr-3" alt="...">
                                                <div class="media-body">
                                                    <h5 class="mt-0">Robert Downey Jr.</h5>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <img src="https://haintheme.com/demo/html/bustter/images/uploads/cast1.jpg
" class="mr-3" alt="...">
                                                <div class="media-body">
                                                    <h5 class="mt-0">Robert Downey Jr.</h5>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <img src="https://haintheme.com/demo/html/bustter/images/uploads/cast1.jpg
" class="mr-3" alt="...">
                                                <div class="media-body">
                                                    <h5 class="mt-0">Robert Downey Jr.</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="movie-detail__right">
                                        <div class="movie-detail__right-block">
                                            <span>Production Company:</span>
                                            <p>Marvel</p>
                                        </div>
                                        <div class="movie-detail__right-block">
                                            <span>Release Date:</span>
                                            <p>May 1, 2015 (U.S.A)</p>
                                        </div>
                                        <div class="movie-detail__right-block">
                                            <span>Runtime:</span>
                                            <p>141 min</p>
                                        </div>
                                        <div class="movie-detail__right-block">
                                            <span>Average Rating:</span>
                                            <p> 10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <p>© 2020. All Rights Reserved</p>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
